.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px;
    margin-bottom: 1px;
    background-color: #fff;
}

.nav-logo{
    width: 200px;
}

.login-condition{
    font-size: 15px;
    border: 1px solid tomato;
    padding: 5px 25px;
    color: rgb(61, 57, 57);
    border-radius: 16px;
    cursor:pointer;
}

.login-condition:hover{
    background-color: rgb(243, 229, 226);
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 150px;
    }
}